
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html{
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: #444;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

a {
  color: #1bb1dc;
  transition: 0.5s;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin: 0 0 20px 0;
  padding: 0;
}


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
  padding: 10px 0 10px 0;
  font-size: 14px;
}

#topbar .social-links {
  text-align: right;
}

#topbar .social-links a {
  color: #b6a352;
  padding: 4px 12px;
  display: inline-block;
}

#topbar .social-links a:hover {
  color: #1bb1dc;
  transition: all 0.5s;
}


/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

#header {
  height: 110px;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

#header .logo{
  position: fixed;
  top: 0;
}

#header .logo img {
  padding: 0;
  max-height: 130px;
}

.main-pages {
  margin-top: 60px;
}


.header-scrolled{
  background: rgba(255,255,255,0.8);
  height: 80px!important;
  box-shadow: 2px 0 10px 2px rgba(40,40,40,0.1);
}

.header-scrolled #topbar{
  display: none;
}
.header-scrolled .logo img{
  display: none;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav>ul>li {
  position: relative;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #413e66;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

.main-nav a:hover,
.main-nav .active>a,
.main-nav li:hover>a {
  color: #1bb1dc;
  text-decoration: none;
}


/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: 100%;
  height: 100vh;
  position: relative;
  /* background:url("../img/intro-bg.jpg") center top no-repeat; */
  background:url("../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#intro .intro-info h2 {
  color: #413e66;
  margin-top: 160px;
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 900;
}

#intro .intro-info h2 span {
  color: #b6a352;
}

#intro .intro-info .btn-get-started{
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #b6a352;
  color: #fff;
}


/*--------------------------------------------------------------
# About us
--------------------------------------------------------------*/

#about {
  padding: 80px 0;
}

#about .about-content {
  padding-top: 40px;
  color: #413e66;
}

#about .about-img {
  position: relative;
  margin: 30px 30px 30px 30px;
}

#about .about-img img {
  width: 100%;
  border: 8px solid #fff;
}


/*--------------------------------------------------------------
# Departments
--------------------------------------------------------------*/

#departments .card {
  margin: 0;
  padding: 1.7rem 1.2rem;
  font-family: 'Oswald', sans-serif;
  box-shadow: 0 2px 14px 2px rgba(134, 133, 133, 0.27);
  border-radius: 3%;
  font-weight: 300;
}

.department-cards{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 5% 5%;
}

.department-cards .card:hover{
  transform: scale(1.05);
  transition: all 0.5s;
  cursor: pointer;
}

/* Why Us Section
--------------------------------*/

#why-us {
  padding: 60px 0;
}


/****** call for Admissions ******/

.contact-us {
  width: 100%;
  background: #2D2B46;
  color: white;
  font-size: 16px;
  padding: 40px 0;
  display: flex;
}

.contact-us .col-left {
  width: 70%;
  padding: 0 20px 0 200px;
}

.contact-us .col-left h3 {
  padding-bottom: 20px;
}

.contact-us .col-right {
  flex: 1;
  padding-top: 40px;
  padding-left: 120px;
}

.contact-us .col-right .contact-here {
  width: 180px;
  height: 40px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.contact-us .col-right .contact-here:hover {
  background: lightseagreen;
  border: 2px solid lightseagreen;
  transition: all 0.5s;
  cursor: pointer;
}


/* GALLERY */

#event{
  margin-top: 60px;
  margin-bottom: 100px;
}

#event h1{
  text-align: center;
  margin-bottom: 40px;
}

.event-gallery{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 5% 5%;
}

.event-gallery img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.event-gallery .card,.event-gallery img{
  border-radius: 5px;
  border: none;
}

.event-gallery .card{
  box-shadow: 0 0px 4px 2px rgba(0,0,0,0.3);
}

.event-gallery .card:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 7px 3px rgba(40,40,40,0.5);
  transition: all 0.5s;
  cursor: pointer;
}

/****** Faculty ******/

.faculty .heading{
  margin: 0 0 15px 0;
  font-size: 36px;
  color: #413E66;
}

.faculty .sub-heading{
  margin: 0  0 50px;
}

.faculty{
  margin:20px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faculty-cards{
  display: flex;
}

.faculty .card{
  position: relative;
  margin-left: 20px;
}

.faculty .card .card-body{
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  text-align: center;
  background: rgba(0,0,0,0.7);
}

.faculty .card .card-body i{
  font-size: 12px;
}

/****** copyright ******/

#footer {
  display: flex;
  justify-content: space-around;
  background: #141224;
}

.copyright {
  padding: 30px 0 30px 0;
  color: white;
  font-size: 15px;
}